#contact {
  height: auto;
  font-family: $openSans;
  margin-top: 40px;
  width: 100%;
  .container {
    flex-direction: column;
    gap: 2rem;
    > h2 {
      font-size: 2rem;
      color: $fBlkClr;
      font-family: $poppins;
    }
    > div {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-wrap: wrap;
      gap: 2rem;
      width: 100%;

      > .card {
        font-weight: bold;
        width: 200px;
        height: 100px;
        background-color: $whtClr;
        box-shadow: 0 0 10px #dbdbdb;
        display: flex;
        border-radius: 5px;
        gap: 0.1rem;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        color: $fBlkClr;
        > a {
          font-family: $poppins;
          font-weight: normal;
          font-size: 0.8rem;
          margin-top: 0.5rem;
          display: flex;
          justify-content: center;
          align-items: center;
          gap: 0.1rem;
          color: gray;
          transition: all 0.5s;
          &:hover {
            gap: 1rem;
            color: $lBlkClr;
          }
        }
      }
    }
  }
}

