/* ---------------------importing font family -------------------- */
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;400;500;700&family=Open+Sans:wght@300;400;500;600;700;800&family=Roboto:wght@300;400;500&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");
/* -----------------------variable CSS-------------------------------- */

  /* --------colors------- */
  $fBlkClr:#282828;
  $lBlkClr:#111;
  $blkClr:#000000;
  $whtClr:#ffffff;
  $boxShadow:#cecece;
  /* ---------font-family------------- */
  $poppins:'poppins', sans-serif;
  $nunito:'nunito', sans-serif;
  $openSans:'Open Sans', sans-serif;
  $roboto: 'Roboto', sans-serif; 

  // ------ importing SCSS file-------
  @import './components/navbar/Navbar.scss';
  @import './components/hero/Hero.scss';
  @import './components/work/Work.scss';
  @import './components/skills/Skill.scss';
  @import './components/contact/Contact.scss';
 
  *{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

html{
  scroll-behavior: smooth;
  background-color:#f7f7f7;
}

.container{
  max-width: 960px;
  margin-inline: auto;
  padding: 0 1rem;
}

.flex-center{
    display: flex;
    justify-content: center;
    align-items: center;
}

::-webkit-scrollbar{
  width: 5px;
}
::-webkit-scrollbar-thumb{
  border-radius: 10px;
  background-color: $fBlkClr;
}
::-webkit-scrollbar-track{
  background-color: $whtClr;
}